html{
  /* 1rem = 10px */
  font-size: 62.5%;
}

body{
  /* 16px */
  font-size: 1.6rem;
}

h1{
  font-size: 6rem;
  font-family: $h1;
  line-height: 1;
  color: $secondary;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding-bottom: 90px;
  z-index: 10;
  -webkit-text-stroke: 1px $background;
}

a{
  text-decoration: none;
}

.wrapper{
  width: 80%;
  margin: 0 auto;
}

/* full view height parallax with 5 layers */
.parallax{
  perspective: 100px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: $background;
}

/* styling of individual parallax layers */
.parallax-layer{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: colomn;
  justify-content: center;
  
  /* styling of img inside each parallax layer */
  img{
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100vh;
    object-fit: fill;
  }
}

/* main content is in here */
.parallax-body{
  /* background is the default */
  background: $background;
  display: block;
  position: absolute;
  /* top must be > 85% so as to not cover up parallax_layer_5 */
  top: 90%;
  left: 0;
  right: 0;
  z-index: 0;
}

/* footer */
.parallax-footer{
  background-color: $secondary;
  color: $accent3;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 25vh;
}

/* sets the number of parallax layers and does the actual parallax effect */
$parallax_layers: 5;
@for $i from 0 through $parallax_layers {
  $x: ($parallax_layers - $i) / 2;
  .parallax_layer_#{$i}{
     transform: translateZ(-100 * $x#{px}) scale($x + 1);
  }
}

//------------- CLASSES FOR HIDING AND SHOWING ANSWER: 

.hide {
  visibility: hidden;
}

.show {
  visibility: visible;
}