article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  /* 1rem = 10px */
  font-size: 62.5%;
  /* smooth scroll */
  scroll-behavior: smooth; }

body {
  /* 16px */
  font-size: 1.6rem; }

h1 {
  font-size: 6rem;
  font-family: "Rum Raisin", sans-serif;
  line-height: 1;
  color: #dd6a66;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  padding-bottom: 90px;
  z-index: 10;
  -webkit-text-stroke: 1px #994848; }

a {
  text-decoration: none;
  color: inherit; }

ul, li {
  list-style-type: none; }

.wrapper {
  width: 80%;
  margin: 0 auto; }

/* full view height parallax with 5 layers */
.parallax {
  -webkit-perspective: 100px;
  perspective: 100px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #994848; }

/* styling of individual parallax layers */
.parallax-layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: colomn;
  flex-direction: colomn;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  /* styling of img inside each parallax layer */ }
  .parallax-layer img {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100vh;
    -o-object-fit: fill;
    object-fit: fill;
    z-index: 0; }
  .parallax-layer .start {
    font-size: 4rem;
    -webkit-text-stroke: 1px #ffda76;
    -webkit-transform: translateY(80vh);
    -ms-transform: translateY(80vh);
    transform: translateY(80vh);
    display: inline-block;
    color: #dd6a66;
    z-index: 1000;
    height: 4rem;
    padding: 3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 25px; }

/* main content is in here */
.parallax-body {
  /* background is the default */
  background: #994848;
  display: block;
  position: absolute;
  /* top must be > 85% so as to not cover up parallax_layer_5 */
  top: 100%;
  left: 0;
  right: 0;
  z-index: 0; }

/* footer */
.parallax-footer {
  background-color: #dd6a66;
  color: #ffda76;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 25vh; }

/* sets the number of parallax layers and does the actual parallax effect */
.parallax_layer_0 {
  -webkit-transform: translateZ(-250px) scale(3.5);
  transform: translateZ(-250px) scale(3.5); }

.parallax_layer_1 {
  -webkit-transform: translateZ(-200px) scale(3);
  transform: translateZ(-200px) scale(3); }

.parallax_layer_2 {
  -webkit-transform: translateZ(-150px) scale(2.5);
  transform: translateZ(-150px) scale(2.5); }

.parallax_layer_3 {
  -webkit-transform: translateZ(-100px) scale(2);
  transform: translateZ(-100px) scale(2); }

.parallax_layer_4 {
  -webkit-transform: translateZ(-50px) scale(1.5);
  transform: translateZ(-50px) scale(1.5); }

.parallax_layer_5 {
  -webkit-transform: translateZ(0px) scale(1);
  transform: translateZ(0px) scale(1); }

.hide {
  visibility: hidden; }

.show {
  visibility: visible; }

.display-none {
  visibility: hidden; }

/* categories */
.categories {
  color: #ffda76;
  margin-top: 25vh; }
  .categories .change-category {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    margin-bottom: 4%;
    background: #4d91bc;
    border-radius: 50px; }
  .categories ul {
    height: 50vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0;
    margin: 0; }
  .categories .category {
    display: inline-block;
    width: 30%;
    margin: 0 1%;
    background: #dd6a66;
    border-radius: 5%; }

.category-anchor {
  display: block;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.questions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  background-color: #4d91bc;
  border: 10px dotted #ffda76;
  border-radius: 50px;
  padding: 2rem;
  margin-top: 25vh;
  /* questions */
  /* question options to show answer and go to next question in the category */ }
  .questions .question {
    color: white;
    padding: 0 20px; }
  .questions .question-options {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around; }
