html{
  /* 1rem = 10px */
  font-size: 62.5%;
  /* smooth scroll */
  scroll-behavior: smooth;
}

body{
  /* 16px */
  font-size: 1.6rem;
  font-family: $body;
  background-color: $background;
}

h1{
  padding: 0;
  margin-top: 27.5vh;
  text-transform: uppercase;
  font-size: 6rem;
  font-family: $h1;
  line-height: 1;
  color: $secondary;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  -webkit-text-stroke: 1px $background;
  transition: font-size 1s;
  @media screen and (max-width: 700px){
    font-size: 5rem;
  }
  
}

h2{
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  @media screen and (max-width: 700px){
    margin-bottom: 30px;
  }
}

a{
  text-decoration: none;
  color: inherit;
}

ul, li{
  list-style-type: none;
}

main {
  position: relative;
  background-color: $background;
  color: #ffffff;
  padding: 0px 100px 100px 100px;
  transition: padding 1s;
  @media screen and (max-width: 700px){
    padding: 20px;
  }
}

.wrapper{
  width: 80%;
  margin: 0 auto;
  transition: width 1s;
  @media screen and (max-width: 700px){
    width: 90%;
  }
}

.start-container{
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 65px;
  .start{
    opacity: 1;
    text-align: center;
    display: inline-block;
    margin: 0 auto;
    font-size: 4rem;
    color: $accent3;
    -webkit-text-stroke: 1px $accent3;
    
  }
}

#parallax-container {
  position: relative;
  display: block;
  height: 100vh;
  object-fit: contain;
  div {
    position: fixed;
    top: 0;
    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    // transform: translateY(0px);
    height: 90vh;
    width: 100%;

    &:nth-child(1){background: url(../parallax/layer_1.png);}
    &:nth-child(2){background: url(../parallax/layer_2.png);}
    &:nth-child(3){background: url(../parallax/layer_3.png);}
    &:nth-child(4){background: url(../parallax/layer_4.png);}
    &:nth-child(5){
      background: url(../parallax/layer_5.png);
      text-align: center;
    }
  }
}


/* footer */
footer{
  background-color: $secondary;
  color: $accent3;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 30px;
}

/* classes for hiding and showing answers */

.hide {
  visibility: hidden;
}

.show {
  visibility: visible;
}

.display-none{
  display: none;
}